@font-face {
  font-family: young;
  src: url(fonts/Young.woff2);
}

@font-face{
    font-family: Unbuttoned;
    src: url(fonts/unbutton.woff2);
}

h1 {
    font-size: 4vh;
}

h3 {
    font-family: young, Arial, Georgia, sans-serif;
    font-size: 2.5vh;
}

body {
    background-image: linear-gradient(45deg, #333333, #ea5f29);
    min-height: 100vh;
    height: 100%;
    font-family: young, Arial, Georgia, sans-serif;
    display: flex;
    justify-content: center;
}

.page_div {
  display: flex;
  flex-flow: column;
}

.title_div {
    margin-left: auto;
    margin-right: auto;
    max-width: max(50vw, 375px);
    font-family: Unbuttoned, Arial, Georgia, sans-serif;
}

.social_buttons_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.img_div {
    max-width: max(50vw, 375px);
    margin-left: auto;
    margin-right: auto;
}

#wip_image {
    background-color: #333333;
    max-width: max(28vw, 320px);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* FontAwesome styling: 
 * adapted from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp 
 */
.fa {
    padding: 18px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    flex: 0 0 30px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-github {
    background: #252525;
    color: white;
  }

  .fa-envelope {
    background: #868686;
    color: white;
  }

  .fa-steam {
    background: #171A21;
    color: white;
  }

  .fa-bandcamp {
    background: #00A1C6;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
